In [ ]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 4.0 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619450 sha256=7e5c49dc61d05b2da0990c13926a00d6c46a84bea5eb60aa64a238f058355e7f
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [ ]:
pip install pickle-mixin

Collecting pickle-mixin
  Downloading pickle-mixin-1.0.2.tar.gz (5.1 kB)
Building wheels for collected packages: pickle-mixin
  Building wheel for pickle-mixin (setup.py) ... done
  Created wheel for pickle-mixin: filename=pickle_mixin-1.0.2-py3-none-any.whl size=6008 sha256=50ba05d25bafff2d7f9617be4707fde8815935ceb365af9eee9dbca0df89673b
  Stored in directory: /root/.cache/pip/wheels/d0/70/0b/673e09a7ed429660d22352a1b117b4f616a8fc054bdd7eb157
Successfully built pickle-mixin
Installing collected packages: pickle-mixin
Successfully installed pickle-mixin-1.0.2

In [ ]:
import os
import sys
import pickle

filenamelst = ['a.txt','b.py','c.ipynb']
filenamelst_abspathname = os.path.abspath('filenamelst.pickle')
print(filenamelst_abspathname)
picklefile = open(str(filenamelst_abspathname),'wb')
pickle.dump(filenamelst, picklefile)
picklefile.close()

/content/filenamelst.pickle

In [ ]:
from flask import Flask, request, render_template
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import nltk
from nltk.stem.snowball import SnowballStemmer
import pandas as pd
import numpy as np
import pickle
import sys
from surprise import Dataset
from surprise import Reader
from surprise import SVD

#pickle part 


def stem_and_vectorize_products_based_on_metadata(product_input):

    word_list = nltk.word_tokenize(product_input)
    input_stemmed = ' '.join([stemmer.stem(word) for word in word_list])
    vec = new_stem_count_vec.transform(np.array(input_stemmed).reshape(1,))
    
    simil = cosine_similarity(vec, new_stem_count_vec_matrix)
    simil_shape = simil.reshape(new_stem_count_vec_matrix.shape[0],)
    simil_scores = pd.DataFrame(data=simil_shape, index=prod_index, columns=['score'])

    # Don't return scores of zero, only as many positive scores as exist
    non_zero_scores = simil_scores[simil_scores['score'] > 0]
    
    if len(non_zero_scores) == 0:
        return 0, 'None'
    
    if len(non_zero_scores) < 10:
        item_count = len(non_zero_scores)
    else:
        item_count = 10
    
    similarity_scores = simil_scores.sort_values(['score'], ascending=False)[:item_count]

    return item_count, (products_desc.iloc[list(similarity_scores.index)]).to_html(index=False, justify='center', classes='table1', border=2)

def get_sample_product(aisle=None):
    if aisle:
        product = products_desc[products_desc['Aisle'].str.contains(aisle)].sample(1)
    else:
        product = products_desc.sample(1)
    name = product['Product Name'].iloc[0]
    prod_aisle = product['Aisle'].iloc[0]
    prod_id = product['Product ID'].iloc[0]  
    return name, prod_aisle, prod_id

def generate_recs(ratings_list, n_to_rec, percent_diverse, rec_aisle=None):
    # Convert ratings list to user_ratings
    userID = 300000
    user_rating =[]
    for product, rating in ratings_list:
        rating_one_product = {'user_id':userID,'product_id':product,'rating':rating}
        user_rating.append(rating_one_product) 

    # add the new ratings to the original ratings DataFrame
    print('Creating ratings dataset...')
    new_ratings_df = new_rec_df.append(user_rating, ignore_index=True)
    new_data = Dataset.load_from_df(new_ratings_df, reader)
    
    # train a model using the new combined DataFrame
    print('Training recommendation model...')
    new_user_svd = SVD(n_factors = 20, n_epochs = 10, lr_all = 0.005, reg_all = 0.4)
    new_user_svd.fit(new_data.build_full_trainset())
    
    # make predictions for the user
    print('Making predictions...')
    list_of_products = []
    for product in new_ratings_df['product_id'].unique():
        product_name = products_desc[products_desc['Product ID'] == product]['Product Name'].iloc[0]
        product_aisle = products_desc[products_desc['Product ID'] == product]['Aisle'].iloc[0]
        list_of_products.append((product, round(new_user_svd.predict(300000, product)[3], 3), product_name, product_aisle))
    
    # order the predictions from highest to lowest rated
    ranked_products = sorted(list_of_products, key=lambda x:x[1], reverse=True)
    
    # return the top n recommendation
    num_results, svd_recs = recommend_diverse_products(ranked_products, n_to_rec, aisle=rec_aisle, percent_diverse=percent_diverse)
    print('Complete')
    return num_results, svd_recs

def grocery_rater(df, num, aisle=None):
    userID = 300000
    rating_list = []
    while num > 0:
        if aisle:
            product = df[df['Aisle'].str.contains(aisle)].sample(1)
        else:
            product = df.sample(1)
        print('\n', product['Product Name'].iloc[0])
        rating = input('How do you rate this product on a scale of 1-5, choose 0 to rate a different product:\n')
        if rating == '0':
            continue
        else:
            rating_one_product = {'user_id':userID,'product_id':product['Product ID'].iloc[0],'rating':int(rating)}
            rating_list.append(rating_one_product) 
            num -= 1
    return rating_list

# return the top n diverse recommendations 
def recommend_diverse_products(ranked_products, n, aisle=None, percent_diverse=.20):
    
    num_diverse = round(n * percent_diverse)
    recs = []
    
    if n < 1:
        print('Number of recommended products must be 1 or more')
        return 0, "None"
    
    for idx, rec in enumerate(ranked_products):
        
        if n == 0:
            recommendation = pd.DataFrame(recs, columns=['Product ID', 'Rating', 'Product Name', 'Aisle'])
            return len(recs), recommendation.to_html(index=False, justify='center', classes='table1', border=2)
            
        prod_id, _, prod_name, aisle_name = [*rec]
        
               
        if aisle:                                    # Did we specify an aisle? 
            if aisle in aisle_name:                  # Is it in the aisle we want?
                if n > num_diverse:                  # Are we looking for a long tail product? No
                    name = prod_name
                    print('Recommendation # ', idx+1, ': ', name, '\n')
                    recs.append(rec)
                    n-= 1
                else:                                 # Are we looking for a long tail product? Yes
                    if prod_id not in short_head:     # Is it NOT in the short_head list?
                        name = prod_name
                        print('Recommendation # ', idx+1, ': ', name, '\n')
                        recs.append(rec)
                        n-= 1
                    else:
                        continue
            elif idx == len(ranked_products)-1:
                print('No recommended products found')
                continue
        else:
            if n > num_diverse:                  # Are we looking for a long tail product? No
                name = prod_name
                print('Recommendation # ', idx+1, ': ', name, '\n')
                recs.append(rec)
                n-= 1
            else:                                 # Are we looking for a long tail product? Yes
                if prod_id not in short_head:     # Is it NOT in the short_head list?
                    name = prod_name
                    print('Recommendation # ', idx+1, ': ', name, '\n')
                    recs.append(rec)
                    n-= 1
                else:
                    continue

def generate_new_user_recommendations(n_to_rate, n_to_rec, percent_diverse, 
                                      rate_aisle=None, rec_aisle=None):
    # Get user ratings
    user_rating = grocery_rater(products_desc, n_to_rate, aisle=rate_aisle)

    # add the new ratings to the original ratings DataFrame
    print('Creating ratings dataset...')
    new_ratings_df = new_rec_df.append(user_rating, ignore_index=True)
    new_data = Dataset.load_from_df(new_ratings_df, reader)
    
    # train a model using the new combined DataFrame
    print('Training recommendation model...')
    new_user_svd = SVD(n_factors = 20, n_epochs = 10, lr_all = 0.005, reg_all = 0.4)
    new_user_svd.fit(new_data.build_full_trainset())
    
    # make predictions for the user
    print('Making predictions...')
    list_of_products = []
    for product in new_ratings_df['product_id'].unique():
        product_name = products_desc[products_desc['Product ID'] == product]['Product Name'].iloc[0]
        product_aisle = products_desc[products_desc['Product ID'] == product]['Aisle'].iloc[0]
        list_of_products.append((product, round(new_user_svd.predict(300000, product)[3], 3), product_name, product_aisle))
    
    # order the predictions from highest to lowest rated
    ranked_products = sorted(list_of_products, key=lambda x:x[1], reverse=True)
    
    # return the top n recommendation
    num_results, svd_recs = recommend_diverse_products(ranked_products, n_to_rec, aisle=rec_aisle, percent_diverse=percent_diverse)
    return num_results, svd_recs

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import time
from datetime import datetime
import pickle
import warnings
warnings.filterwarnings('ignore')

In [ ]:

# Set default visualization parameters

CB91_Blue = '#2CBDFE'
CB91_Green = '#47DBCD'
CB91_Pink = '#F3A0F2'
CB91_Purple = '#9D2EC5'
CB91_Violet = '#661D98'
CB91_Amber = '#F5B14C'
color_list = [CB91_Blue, CB91_Pink, CB91_Green, CB91_Amber, CB91_Purple, CB91_Violet]
plt.rcParams['axes.prop_cycle'] = plt.cycler(color=color_list)
sns.set_context("notebook", rc={"font.size":16, "axes.titlesize":20, "axes.labelsize":18})
sns.set(font='Franklin Gothic Book',
rc={'axes.axisbelow': False,
'axes.edgecolor': 'lightgrey',
# 'axes.edgecolor': 'white',
'axes.facecolor': 'None',
'axes.grid': False,
'axes.labelcolor': 'dimgrey',
# 'axes.labelcolor': 'white',
'axes.spines.right': False,
'axes.spines.top': False,
'axes.prop_cycle': plt.cycler(color=color_list),
'figure.facecolor': 'white',
'lines.solid_capstyle': 'round',
'patch.edgecolor': 'w',
'patch.force_edgecolor': True,
'text.color': 'dimgrey',
# 'text.color': 'white',    
'xtick.bottom': False,
'xtick.color': 'dimgrey',
# 'xtick.color': 'white',    
'xtick.direction': 'out',
'xtick.top': False,
'ytick.color': 'dimgrey',
# 'ytick.color': 'white',
'ytick.direction': 'out',
'ytick.left': False,
'ytick.right': False})
%matplotlib inline

In [ ]:
aisles = pd.read_csv("/content/aisles.csv")
departments = pd.read_csv("/content/departments.csv")
order_products_prior = pd.read_csv("/content/order_products__prior.csv")
order_products_train = pd.read_csv("/content/order_products__train.csv")
orders = pd.read_csv("/content/orders.csv")
products = pd.read_csv("/content/products.csv")

Merge order_products together
Output: merged_order_products, order_products_desc

In [ ]:
merged_order_products = pd.merge(order_products_train, order_products_prior, how = 'outer')
merged_order_products.head() #merging

   order_id  product_id  add_to_cart_order  reordered
0         1     49302.0                1.0        1.0
1         1     11109.0                2.0        1.0
2         1     10246.0                3.0        0.0
3         1     49683.0                4.0        0.0
4         1     43633.0                5.0        1.0

In [ ]:
products_per_order = merged_order_products.groupby('order_id').count()
products_per_order

          product_id  add_to_cart_order  reordered
order_id
1                  8                  8          8
2                  9                  9          9
3                  8                  8          8
4                 13                 13         13
5                 26                 26         26
...              ...                ...        ...
1049709           10                 10         10
1049712           11                 11         11
1049715            6                  6          6
1049788           15                 15         15
1049790            5                  5          5

[86575 rows x 3 columns]

In [ ]:
pro = pd.merge(products,aisles,on='aisle_id')
dep= pd.merge(pro,departments,on='department_id')
dep

       product_id  ... department
0               1  ...     snacks
1              78  ...     snacks
2             102  ...     snacks
3             172  ...     snacks
4             285  ...     snacks
...           ...  ...        ...
49683       22827  ...       bulk
49684       28655  ...       bulk
49685       30365  ...       bulk
49686       38007  ...       bulk
49687       48778  ...       bulk

[49688 rows x 6 columns]

In [ ]:

# This has an entry for each ordered product.  If we combine it with aisle and department we can see which products
# are ordered the most.
order_products_desc = pd.merge(merged_order_products, dep, on = 'product_id')
order_products_desc.head()

   order_id  product_id  ...                 aisle  department
0         1     49302.0  ...                yogurt  dairy eggs
1    816049     49302.0  ...                yogurt  dairy eggs
2     38841     49302.0  ...                yogurt  dairy eggs
3     45900     49302.0  ...                yogurt  dairy eggs
4         1     11109.0  ...  other creams cheeses  dairy eggs

[5 rows x 9 columns]

Merge user orders

In [ ]:
# Now merge the orders with the ordered prodcuts, combining on order_id
# This is a lot of info. We will trim some out before modeling.
merged_orders = pd.merge(orders, order_products_desc, on = 'order_id')
merged_orders.head() # Because the products showing are from the 1st order for this user, they all have Nan in days_since
# Because pd.merge defaults to an inner join, the test orders are not in this dataframe because they had no products.

   order_id  user_id  ...                       aisle  department
0     23391        7  ...                  lunch meat        deli
1     23391        7  ...                        eggs  dairy eggs
2     23391        7  ...                fresh fruits     produce
3     23391        7  ...  packaged vegetables fruits     produce
4     23391        7  ...  packaged vegetables fruits     produce

[5 rows x 15 columns]

In [ ]:
test = orders[orders['eval_set']=='test']
test.head()

     order_id  user_id  ... order_hour_of_day  days_since_prior_order
38    2774568        3  ...              15.0                    11.0
44     329954        4  ...              12.0                    30.0
53    1528013        6  ...              16.0                    22.0
96    1376945       11  ...              11.0                     8.0
102   1356845       12  ...              20.0                    30.0

[5 rows x 7 columns]

In [ ]:
# Now I can see everything a particular user has ordered, and how often
#merged_orders[merged_orders['user_id']==3]['product_name'].value_counts()

Prepare data for recommendation system

In [ ]:
user_item = merged_orders[['user_id', 'product_id', 'reordered']]

In [ ]:
user_item[user_item.duplicated(subset = ['user_id', 'product_id'], keep = 'first')]

       user_id  product_id  reordered
12           7     17638.0        1.0
13           7     13198.0        1.0
18           7     40852.0        1.0
152         66      8143.0        1.0
219         75     13176.0        1.0
...        ...         ...        ...
62570    14495     32156.0        1.0
62579    14495     26308.0        1.0
62582    14495     24832.0        1.0
62588    14495     21512.0        1.0
62623    14502     41950.0        1.0

[2780 rows x 3 columns]

In [ ]:
data=[]
data_columns=['user_id','product_id','count']
for user in user_item.user_id.unique():
    counts = user_item[user_item['user_id']==user].product_id.value_counts()
    for i in range(len(counts)):
         data.append([user, counts.index[i], counts.values[i]])

In [ ]:
rec_df = pd.DataFrame(data, columns=data_columns)

# Order of a user

In [ ]:
namee=rec_df[rec_df['user_id']==1] #imppp
mer=pd.merge(namee , dep , on='product_id')
mer.product_name

Series([], Name: product_name, dtype: object)

In [ ]:
rec_df['count'].max()

5

In [ ]:
# In case I want a smaller subset of users I'll build users_150K
# But I wonder if pulling out items only ordered once or users who only ordered once would be better
#grouping from 
users_150K = rec_df[rec_df['user_id'] < 150000]

In [ ]:
user_info = merged_orders[['user_id', 'order_number', 'order_dow', 'order_hour_of_day', 
                           'days_since_prior_order', 'aisle']]

In [ ]:
user_data = pd.get_dummies(user_info, prefix=None, columns=['aisle'])

In [ ]:
# Splitting the data in thirds to use groupby then will rejoin them
user_data1 = user_data[user_data['user_id'] <= 65000]
user_data2 = user_data[(user_data['user_id'] <= 135000) & (user_data['user_id'] > 65000)]
user_data3 = user_data[user_data['user_id'] > 135000]

In [ ]:
grouped_user1 = user_data1.groupby('user_id').sum()
grouped_user2 = user_data2.groupby('user_id').sum()
grouped_user3 = user_data3.groupby('user_id').sum()

In [ ]:
# Go back to user_data and drop the aisle info before I group the other variables in different ways
user_data1_noaisles = user_data1.iloc[:,:5]
user_data2_noaisles = user_data2.iloc[:,:5]
user_data3_noaisles = user_data3.iloc[:,:5]

In [ ]:
group1 = user_data1_noaisles.groupby('user_id').agg({'order_number': 'max', 'order_dow': lambda x:x.value_counts().index[0], 
                                            'order_hour_of_day': 'median', 'days_since_prior_order': 'mean'})
group2 = user_data2_noaisles.groupby('user_id').agg({'order_number': 'max', 'order_dow': lambda x:x.value_counts().index[0], 
                                            'order_hour_of_day': 'median', 'days_since_prior_order': 'mean'})
group3 = user_data3_noaisles.groupby('user_id').agg({'order_number': 'max', 'order_dow': lambda x:x.value_counts().index[0], 
                                            'order_hour_of_day': 'median', 'days_since_prior_order': 'mean'})

In [ ]:
# get number of orders for each user and add to grouped_user dfs
grouped_user1['num_orders'] = group1.order_number
grouped_user2['num_orders'] = group2.order_number
grouped_user3['num_orders'] = group3.order_number

grouped_user1['mean_days_since'] = group1.days_since_prior_order
grouped_user2['mean_days_since'] = group2.days_since_prior_order
grouped_user3['mean_days_since'] = group3.days_since_prior_order

grouped_user1['mode_order_dow'] = group1.order_dow
grouped_user2['mode_order_dow'] = group2.order_dow
grouped_user3['mode_order_dow'] = group3.order_dow

grouped_user1['median_order_hour'] = group1.order_hour_of_day
grouped_user2['median_order_hour'] = group2.order_hour_of_day
grouped_user3['median_order_hour'] = group3.order_hour_of_day

grouped_user1.drop(columns=['order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order'], inplace=True)
grouped_user2.drop(columns=['order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order'], inplace=True)
grouped_user3.drop(columns=['order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order'], inplace=True)

In [ ]:
grouped_users = pd.concat([grouped_user1, grouped_user2, grouped_user3], axis=0)

In [ ]:

grouped_users.head()

         aisle_air fresheners candles  ...  median_order_hour
user_id                                ...
7                                   0  ...               10.0
8                                   0  ...               14.0
13                                  0  ...               12.0
23                                  0  ...               10.0
24                                  0  ...               16.0

[5 rows x 138 columns]

In [ ]:
# This function came from a Medium article by Adam Ross Nelson to rearrange columns in a df
def movecol(df, cols_to_move=[], ref_col='', place='After'):
    
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

In [ ]:
grouped_users[grouped_users['num_orders']<=5]

         aisle_air fresheners candles  ...  median_order_hour
user_id                                ...
8                                   0  ...               14.0
13                                  0  ...               12.0
23                                  0  ...               10.0
42                                  0  ...               19.0
46                                  0  ...               13.0
...                               ...  ...                ...
14441                               0  ...               20.0
14453                               0  ...                8.0
14454                               0  ...               16.0
14466                               0  ...               19.0
14470                               0  ...               11.0

[1295 rows x 138 columns]

In [ ]:
products_with_count = rec_df.groupby('product_id').sum().drop(columns='user_id').sort_values(by='count')
products_with_count[products_with_count['count']<=5]  # 2741 products ordered 5 times or less

            count
product_id
21040.0         1
24291.0         1
24273.0         1
24261.0         1
45054.0         1
...           ...
46984.0         5
47325.0         5
45158.0         5
6638.0          5
2664.0          5

[11073 rows x 1 columns]

Modeling a recommendation system

In [ ]:
from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate
from surprise import SVD
from surprise import KNNBaseline
from surprise import KNNBasic
from surprise.model_selection import train_test_split
from surprise.prediction_algorithms import knns
from surprise.similarities import cosine, msd, pearson
from surprise.prediction_algorithms import SVD, SVDpp
from surprise.model_selection import GridSearchCV
from surprise import accuracy

In [ ]:
reader = Reader(rating_scale=(1, 100))

# The columns must correspond to user id, item id and ratings (in that order).
rec_data = Dataset.load_from_df(rec_df, reader)

# sample random trainset and testset
# test set is made of 25% of the ratings.
trainset, testset = train_test_split(rec_data, test_size=.25, random_state=12)

In [ ]:

#sim_cos = {'name':'cosine', 'user_based':False}

#tic = time.time()

#basic = knns.KNNBasic(sim_options=sim_cos)
#basic.fit(trainset)

#fit_time = time.time()-tic
#print('fit ', fit_time)

In [ ]:
tic = time.time()

svd_algo = SVD()

svd_algo.fit(trainset)

fit_time = time.time()-tic
print('fit ', fit_time)
toc = time.time()

svd_algo_predictions = svd_algo.test(testset)

pred_time = time.time()-toc
print('pred ', pred_time)

# Then compute RMSE
accuracy.rmse(svd_algo_predictions)

fit  3.2182013988494873
pred  0.28189635276794434
RMSE: 0.2200

0.21997414613782731

In [ ]:

accuracy.rmse(svd_algo_predictions)

RMSE: 0.2200

0.21997414613782731

In [ ]:
rec_df[rec_df['user_id'] == 2555]

       user_id  product_id  count
10600     2555     21903.0      1
10601     2555     45445.0      1
10602     2555     33120.0      1
10603     2555     44632.0      1
10604     2555      3233.0      1
10605     2555     13877.0      1
10606     2555     22400.0      1
10607     2555     21938.0      1
10608     2555      8539.0      1
10609     2555     18531.0      1
10610     2555     33407.0      1
10611     2555     39475.0      1
10612     2555     47672.0      1
10613     2555     15649.0      1
10614     2555     26604.0      1
10615     2555     10603.0      1
10616     2555     18891.0      1
10617     2555     27086.0      1

In [ ]:
namee=rec_df[rec_df['user_id']==2555] #imppp
mer=pd.merge(namee , dep , on='product_id')
mer.product_name

0                                  Organic Baby Spinach
1                Organic Bagged Mini Dark Peanut Butter
2                                    Organic Egg Whites
3                            Sparkling Water Grapefruit
4     Organic Turkey with Rosemary, Sage & Thyme Bon...
5                                         Smoked Salmon
6                                Peanut Butter, Classic
7                                     Green Bell Pepper
8            Organic Chicken with Lemongrass Bone Broth
9                          Organic Heavy Whipping Cream
10                             Ripe Large Pitted Olives
11                          Total Greek Strained Yogurt
12                  Uncured Hickory Smoked Sunday Bacon
13                              Baby Seedless Cucumbers
14                                 Organic Blackberries
15                                      93% Ground Beef
16                    Classic Almond Butter All Natural
17                                          Half & Half
Name: product_name, dtype: object

In [ ]:
uid=196
iid=13176
# actual value was 2, prediction is 1.77
pred = svd_algo.predict(uid, iid, r_ui=2, verbose=True)

user: 196        item: 13176      r_ui = 2.00   est = 1.09   {'was_impossible': False}

In [ ]:
testset[0]

(8241, 10385.0, 1.0)

In [ ]:
pred = svd_algo.predict(127895, 6101, r_ui=2, verbose=True)

user: 127895     item: 6101       r_ui = 2.00   est = 1.05   {'was_impossible': False}

In [ ]:
svd_algo_predictions[0]

Prediction(uid=8241, iid=10385.0, r_ui=1.0, est=1.069266604656487, details={'was_impossible': False})

In [ ]:
param_grid = {'n_factors':[20, 100],'n_epochs': [5, 10], 'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}
gs_model = GridSearchCV(SVD, param_grid=param_grid, n_jobs = -1, joblib_verbose=5)
gs_model.fit(rec_data)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:   23.7s
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:  2.6min finished

In [ ]:
gs_model.best_params

{'mae': {'lr_all': 0.005, 'n_epochs': 10, 'n_factors': 20, 'reg_all': 0.6},
 'rmse': {'lr_all': 0.005, 'n_epochs': 10, 'n_factors': 20, 'reg_all': 0.4}}

In [ ]:
results_df = pd.DataFrame.from_dict(gs_model.cv_results)

In [ ]:
tic = time.time()

svd_best_gs = SVD(n_factors = 100, n_epochs = 10, lr_all = 0.005, reg_all = 0.4)

svd_best_gs.fit(trainset)

fit_time = time.time()-tic
print('fit ', fit_time)
toc = time.time()

svd_best_gs_predictions = svd_best_gs.test(testset)

pred_time = time.time()-toc
print('pred ', pred_time)

# Then compute RMSE
accuracy.rmse(svd_best_gs_predictions)

# RMSE went down on grid search model from 3.4616 to 3.2483

fit  1.489058494567871
pred  0.13265681266784668
RMSE: 0.2153

0.21531261809035102

In [ ]:
max(testset,key=lambda item:item[2])
pred = svd_best_gs.predict(41356,38652, r_ui=100.0, verbose=True)
top_est = 0
top_pred = [0,0,0,0]
for uid, iid, true_r, est, _ in svd_best_gs_predictions:
    if est > top_est:
        top_est = est
        top_pred = [uid,iid,true_r,est]
top_pred

user: 41356      item: 38652      r_ui = 100.00   est = 1.05   {'was_impossible': False}

[6409, 9637.0, 4.0, 1.8942147967716476]

In [ ]:
rec_df['count'].value_counts()

1    57330
2     2297
3      178
4       37
5        4
Name: count, dtype: int64

In [ ]:
rec_df['rating'] = rec_df['count'].apply(lambda x: 5 if (x >= 5) else x)

In [ ]:
new_rec_df = rec_df.drop(columns='count')
new_rec_df.tail()

       user_id  product_id  rating
59841    14502     31717.0       1
59842    14502     37524.0       1
59843    14502      4781.0       1
59844    14502      3142.0       1
59845    14502     13176.0       1

In [ ]:
rec_columns=new_rec_df.columns.values
rec_index=new_rec_df.index.values
rec_user=new_rec_df.user_id.values
rec_rating=new_rec_df.rating.values
rec_prod_id=new_rec_df.product_id.values

In [ ]:
new_df = pd.DataFrame(np.column_stack([rec_user, rec_prod_id, rec_rating]), index=rec_index, columns=rec_columns)
new_df

       user_id  product_id  rating
0          7.0     13198.0     2.0
1          7.0     40852.0     2.0
2          7.0     17638.0     2.0
3          7.0     12053.0     1.0
4          7.0     37602.0     1.0
...        ...         ...     ...
59841  14502.0     31717.0     1.0
59842  14502.0     37524.0     1.0
59843  14502.0      4781.0     1.0
59844  14502.0      3142.0     1.0
59845  14502.0     13176.0     1.0

[59846 rows x 3 columns]

In [ ]:
# Must start with a new reader

tic = time.time()
reader = Reader(rating_scale=(1, 5))
readtime = time.time()-tic
print(readtime)
# The columns must correspond to user id, item id and ratings (in that order).
toc = time.time()
new_rec_data = Dataset.load_from_df(new_rec_df, reader)
loadtime = time.time()-toc
print(loadtime)
# sample random trainset and testset
# test set is made of 25% of the ratings.
tac = time.time()
new_trainset, new_testset = train_test_split(new_rec_data, test_size=.25, random_state=12)
splittime = time.time()-tac
print(splittime)

7.009506225585938e-05
0.07197380065917969
0.10776066780090332

In [ ]:
tic = time.time()

new_svd_algo = SVD(n_factors = 100, n_epochs = 10, lr_all = 0.005, reg_all = 0.4)

new_svd_algo.fit(new_trainset)

fit_time = time.time()-tic
print('fit ', fit_time)
toc = time.time()

new_predictions = new_svd_algo.test(new_testset)

pred_time = time.time()-toc
print('pred ', pred_time)

# Then compute RMSE
accuracy.rmse(new_predictions)

# Not bad, RMSE went to to 1.2649'''

fit  1.6332526206970215
pred  0.3791368007659912
RMSE: 0.2155

0.21554694616703457

In [ ]:

accuracy.rmse(new_predictions)

RMSE: 0.2155

0.21554694616703457

In [ ]:
# This prediction was 1.76 before, it has gone up to 2.12 with the new scale

uid=196
iid=13176
# get a prediction for specific users and items.
pred = new_svd_algo.predict(uid, iid, r_ui=2, verbose=True)

user: 196        item: 13176      r_ui = 2.00   est = 1.06   {'was_impossible': False}

In [ ]:
pred = new_svd_algo.predict(41356,38652, r_ui=5.0, verbose=True)

user: 41356      item: 38652      r_ui = 5.00   est = 1.05   {'was_impossible': False}

In [ ]:
# Well lets try another grid search

# Started at 9:57am, ended at 12:30pm

param_grid = {'n_factors':[20, 100],'n_epochs': [5, 10], 'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}
new_gs_model = GridSearchCV(SVD, param_grid=param_grid, n_jobs = -1, joblib_verbose=5)
new_gs_model.fit(new_rec_data)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:   22.4s
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:  2.6min finished

In [ ]:
new_gs_model.best_params

{'mae': {'lr_all': 0.005, 'n_epochs': 10, 'n_factors': 20, 'reg_all': 0.6},
 'rmse': {'lr_all': 0.005, 'n_epochs': 10, 'n_factors': 20, 'reg_all': 0.4}}

In [ ]:
new_results_df = pd.DataFrame.from_dict(new_gs_model.cv_results)

In [ ]:
# Creating the model from the best params

tic = time.time()

new_svd_best_gs = SVD(n_factors = 20, n_epochs = 10, lr_all = 0.005, reg_all = 0.4)

new_svd_best_gs.fit(new_trainset)

fit_time = time.time()-tic
print('fit ', fit_time)
toc = time.time()

new_svd_best_gs_predictions = new_svd_best_gs.test(new_testset)

pred_time = time.time()-toc
print('pred ', pred_time)

# Then compute RMSE
accuracy.rmse(new_svd_best_gs_predictions)

# RMSE went down on grid search model from 1.2649 to 1.2648.  lol, not much.

fit  0.7443935871124268
pred  0.13977479934692383
RMSE: 0.2116

0.21158625789927635

In [ ]:
# Get top predictions for a user

from collections import defaultdict

def get_top_n(predictions, n=10):
    """Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    """

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n


# First train an SVD algorithm on the movielens dataset.
# data = Dataset.load_builtin('ml-100k')
# trainset = data.build_full_trainset()
# algo = SVD()
# algo.fit(trainset)

# Than predict ratings for all pairs (u, i) that are NOT in the training set.
# anti_testset = new_trainset.build_anti_testset()
# predictions = anti_new_svd_best_gs.test(anti_testset)

In [ ]:
top_n = get_top_n(new_svd_best_gs_predictions, n=10)

In [ ]:
top_n[8241]

[(47209.0, 1.0774504501684734),
 (13176.0, 1.0611994713756505),
 (10385.0, 1.0601021705439067),
 (1039.0, 1)]

**VERY IMPORTANT FUNCTION**

In [ ]:
def prediction(person):
  val=top_n[person]
  val1=[]
  for i in range (len(val)):
    val1.append(val[i][0])
  user=dep.loc[dep['product_id'].isin(val1)]
  pn=user['product_name']
  lst= list(pn)
  return lst

In [ ]:
pickle.dump(top_n, open("Pickle/topn.p", "wb"))

In [ ]:
pickle.dump(dep, open("Pickle/dep.p", "wb"))

In [ ]:
pickle.dump(rec_df, open("Pickle/recdf.p", "wb"))

In [ ]:
prediction(14293)

['Honeygrams, gluten-Free, Wheat-Free Graham Style Crackers',
 'Fair Trade Dark Chocolate Cookies',
 'Organic Lowatf Plain Yogurt',
 'Organic Red Onion',
 'Organic Bosc Pear']

In [ ]:
def most_ordered(person):
  namee=rec_df[rec_df['user_id']==person] #imppp
  mer=pd.merge(namee , dep , on='product_id')
  return list(mer.product_name)

In [ ]:
most_ordered(14293)

['Organic Red Chard Greens',
 'Organic Tomato Cluster',
 'Honeygrams, gluten-Free, Wheat-Free Graham Style Crackers',
 'Limes',
 'Carrots',
 'Fair Trade Dark Chocolate Cookies',
 'Organic Cilantro',
 'Organic Lowatf Plain Yogurt',
 'Organic Bosc Pear',
 'Organic Soft Wheat Bread',
 'Organic Red Onion',
 'Organic Hass Avocado']

In [ ]:
print(orders.loc[orders['user_id']==2555])

       order_id  user_id  ... order_hour_of_day  days_since_prior_order
41495   1435633     2555  ...              13.0                     NaN
41496    610004     2555  ...              17.0                     8.0
41497    241397     2555  ...               7.0                     9.0
41498   1688299     2555  ...              11.0                     3.0
41499   2781552     2555  ...              11.0                     3.0
41500   2019457     2555  ...               8.0                     6.0
41501    590946     2555  ...              11.0                     5.0
41502   1045122     2555  ...              20.0                     5.0
41503   2383389     2555  ...              15.0                     6.0
41504   2465391     2555  ...              17.0                     5.0
41505    561564     2555  ...              10.0                    10.0
41506   3234485     2555  ...              18.0                     2.0
41507   1544656     2555  ...              17.0                    16.0
41508   2638205     2555  ...              13.0                     7.0
41509   1169164     2555  ...              16.0                     8.0
41510    433809     2555  ...              20.0                    13.0
41511    924799     2555  ...              19.0                     6.0
41512   1051921     2555  ...              12.0                    17.0
41513   2225227     2555  ...              18.0                    11.0
41514   1911666     2555  ...              17.0                     5.0
41515      3031     2555  ...               9.0                     6.0
41516   2028880     2555  ...              17.0                     5.0
41517   3360992     2555  ...              17.0                     5.0
41518    816769     2555  ...               9.0                     7.0
41519    957928     2555  ...              16.0                    11.0
41520    176253     2555  ...              15.0                     9.0
41521   2259850     2555  ...              16.0                    10.0
41522   1139883     2555  ...               8.0                     6.0
41523   3001137     2555  ...              15.0                     3.0
41524   2361816     2555  ...               8.0                    14.0
41525   1911125     2555  ...              13.0                     8.0
41526   2401983     2555  ...              15.0                    13.0
41527   1298443     2555  ...              10.0                     8.0
41528   2161220     2555  ...              13.0                     7.0
41529   1723652     2555  ...              14.0                     7.0
41530    867855     2555  ...              13.0                     6.0
41531   1249590     2555  ...              18.0                    10.0
41532   1180766     2555  ...              11.0                     4.0
41533   1554978     2555  ...              10.0                     8.0
41534    939355     2555  ...               8.0                    13.0
41535    809172     2555  ...              17.0                    12.0
41536     77069     2555  ...              17.0                    16.0
41537   3169925     2555  ...              15.0                    15.0
41538    147343     2555  ...              15.0                    13.0

[44 rows x 7 columns]

In [ ]:
orders

        order_id  user_id  ... order_hour_of_day  days_since_prior_order
0        2539329        1  ...               8.0                     NaN
1        2398795        1  ...               7.0                    15.0
2         473747        1  ...              12.0                    21.0
3        2254736        1  ...               7.0                    29.0
4         431534        1  ...              15.0                    28.0
...          ...      ...  ...               ...                     ...
239661   1994634    14504  ...              13.0                     6.0
239662   2487022    14504  ...              10.0                    30.0
239663   1448635    14504  ...              18.0                    12.0
239664    775696    14504  ...              16.0                    30.0
239665    531059     1450  ...               NaN                     NaN

[239666 rows x 7 columns]

In [ ]:
len(top_n.values())

4250

In [ ]:

order_products_desc['product_name'].value_counts()

Banana                                  12608
Bag of Organic Bananas                  10224
Organic Strawberries                     7038
Organic Baby Spinach                     6554
Organic Hass Avocado                     5361
                                        ...
Bath & Kitchen Multi-Surface Cleaner        1
Spicy Nori Snack                            1
Grow & Gain Banana Shake                    1
Cannoli                                     1
Extra Aged Gouda Cheese                     1
Name: product_name, Length: 34904, dtype: int64

In [ ]:
all_rec_items=[]  # Making a list of all recommended items in the top for each user, then count them
for idx in range(len(top_n.values())-200000):
    all_rec_items.extend([x[0] for x in [*top_n.values()][idx]]) # product_ids recommended for first user
# all_rec_items

In [ ]:
from collections import Counter

ctr = Counter(all_rec_items)
most_ctr = ctr.most_common(20)

In [ ]:
most_ctr
[products_desc[products_desc['product_id']==x]['product_name'].iloc[0] for x in [x[0] for x in most_ctr]]

[]

In [ ]:
new_rec_df.product_id.value_counts().sum() # 13,863,746 ratings, so the top 80% would be 11,091,000

59846

In [ ]:
new_rec_df.product_id.value_counts()[:1].cumsum().values # I admit this was trial and error

array([  787,  1416,  1874, ..., 39590, 39596, 39602])

In [ ]:
# so the top 6200 products account for 80% of the ratings (or purchases in this case)
short_head = list(new_rec_df.product_id.value_counts()[:1].cumsum().index)

In [ ]:

short_head

[24852.0,
 13176.0,
 21137.0,
 21903.0,
 47209.0,
 47766.0,
 47626.0,
 16797.0,
 27966.0,
 26209.0,
 24964.0,
 22935.0,
 39275.0,
 27845.0,
 45007.0,
 30391.0,
 5876.0,
 4920.0,
 4605.0,
 45066.0,
 49683.0,
 40706.0,
 42265.0,
 44632.0,
 28204.0,
 21616.0,
 8518.0,
 31717.0,
 17794.0,
 37646.0,
 21938.0,
 46979.0,
 19057.0,
 8277.0,
 30489.0,
 10749.0,
 48679.0,
 28985.0,
 43961.0,
 41950.0,
 49235.0,
 27104.0,
 44359.0,
 26604.0,
 9076.0,
 22035.0,
 25890.0,
 24184.0,
 43352.0,
 31506.0,
 5450.0,
 27086.0,
 39877.0,
 5077.0,
 8424.0,
 27521.0,
 8174.0,
 19660.0,
 34126.0,
 35951.0,
 34969.0,
 22825.0,
 12341.0,
 46667.0,
 28842.0,
 35221.0,
 24838.0,
 27344.0,
 5785.0,
 15290.0,
 29487.0,
 44142.0,
 39928.0,
 33000.0,
 9839.0,
 33731.0,
 47144.0,
 16759.0,
 20114.0,
 28199.0,
 27156.0,
 432.0,
 3957.0,
 34243.0,
 4799.0,
 21709.0,
 26369.0,
 18465.0,
 34358.0,
 11520.0,
 20995.0,
 33198.0,
 23909.0,
 32689.0,
 42828.0,
 37067.0,
 33754.0,
 37687.0,
 43122.0,
 5479.0,
 41844.0,
 19678.0,
 9387.0,
 42736.0,
 7781.0,
 5025.0,
 4210.0,
 42768.0,
 17948.0,
 21405.0,
 41220.0,
 19348.0,
 40604.0,
 46906.0,
 38293.0,
 31553.0,
 28849.0,
 16185.0,
 14992.0,
 6184.0,
 11777.0,
 25659.0,
 24489.0,
 38689.0,
 20842.0,
 41787.0,
 44683.0,
 32655.0,
 8193.0,
 260.0,
 196.0,
 39475.0,
 44910.0,
 48364.0,
 6046.0,
 42701.0,
 2295.0,
 38739.0,
 8021.0,
 40310.0,
 32734.0,
 46802.0,
 26165.0,
 43789.0,
 42342.0,
 39408.0,
 22963.0,
 43295.0,
 2078.0,
 29987.0,
 11182.0,
 10246.0,
 24830.0,
 42585.0,
 21019.0,
 30233.0,
 23734.0,
 18531.0,
 43768.0,
 35939.0,
 18523.0,
 25146.0,
 42356.0,
 21288.0,
 46676.0,
 3952.0,
 26790.0,
 14678.0,
 38400.0,
 17872.0,
 35921.0,
 31343.0,
 36695.0,
 5818.0,
 43086.0,
 36011.0,
 26620.0,
 31040.0,
 23165.0,
 8859.0,
 39812.0,
 33120.0,
 12206.0,
 38383.0,
 1463.0,
 1940.0,
 38777.0,
 31683.0,
 7948.0,
 28289.0,
 13870.0,
 15937.0,
 30450.0,
 5212.0,
 16349.0,
 30776.0,
 890.0,
 44987.0,
 32478.0,
 35108.0,
 40516.0,
 38456.0,
 13984.0,
 26940.0,
 42450.0,
 17600.0,
 4957.0,
 20119.0,
 13535.0,
 23375.0,
 30169.0,
 10385.0,
 30827.0,
 41290.0,
 34050.0,
 42244.0,
 4562.0,
 39984.0,
 43772.0,
 36070.0,
 7021.0,
 40332.0,
 35547.0,
 47672.0,
 24799.0,
 19048.0,
 2086.0,
 14947.0,
 16965.0,
 29447.0,
 43154.0,
 26283.0,
 40174.0,
 47734.0,
 32864.0,
 27325.0,
 23288.0,
 44422.0,
 47630.0,
 48745.0,
 16953.0,
 46720.0,
 12916.0,
 21174.0,
 36735.0,
 13629.0,
 46969.0,
 49383.0,
 32433.0,
 32177.0,
 36865.0,
 10957.0,
 39993.0,
 33129.0,
 41665.0,
 48775.0,
 13198.0,
 42625.0,
 46654.0,
 40571.0,
 28934.0,
 47977.0,
 17122.0,
 27730.0,
 15872.0,
 37158.0,
 19691.0,
 35042.0,
 13249.0,
 2966.0,
 5646.0,
 18370.0,
 8670.0,
 7751.0,
 30720.0,
 48205.0,
 45.0,
 40723.0,
 13733.0,
 43713.0,
 2450.0,
 21872.0,
 28156.0,
 7559.0,
 1158.0,
 28993.0,
 1999.0,
 6187.0,
 13517.0,
 34448.0,
 45200.0,
 13166.0,
 33787.0,
 23537.0,
 27695.0,
 27336.0,
 37710.0,
 35561.0,
 13380.0,
 33401.0,
 18479.0,
 25931.0,
 6348.0,
 39619.0,
 6104.0,
 8571.0,
 18441.0,
 49075.0,
 45535.0,
 10673.0,
 18027.0,
 21573.0,
 31915.0,
 33768.0,
 8048.0,
 19019.0,
 36550.0,
 40545.0,
 20738.0,
 27548.0,
 37766.0,
 40199.0,
 16083.0,
 17461.0,
 44799.0,
 44449.0,
 26384.0,
 26497.0,
 14233.0,
 41149.0,
 26800.0,
 11068.0,
 9092.0,
 27323.0,
 20345.0,
 45123.0,
 33043.0,
 9339.0,
 21195.0,
 11408.0,
 7963.0,
 21376.0,
 7175.0,
 37220.0,
 20955.0,
 18362.0,
 10017.0,
 10132.0,
 17316.0,
 16696.0,
 14084.0,
 13646.0,
 15424.0,
 3298.0,
 21267.0,
 3376.0,
 20082.0,
 40396.0,
 34217.0,
 3599.0,
 43662.0,
 5134.0,
 49175.0,
 18288.0,
 28745.0,
 5194.0,
 43504.0,
 40709.0,
 28465.0,
 2825.0,
 49610.0,
 38159.0,
 6873.0,
 42110.0,
 29127.0,
 22395.0,
 24841.0,
 11712.0,
 14197.0,
 17706.0,
 5258.0,
 17949.0,
 10305.0,
 11422.0,
 47788.0,
 24561.0,
 11782.0,
 28278.0,
 5373.0,
 37029.0,
 41065.0,
 13740.0,
 21333.0,
 35503.0,
 12456.0,
 19508.0,
 10644.0,
 30639.0,
 11440.0,
 29662.0,
 1700.0,
 22124.0,
 17758.0,
 25466.0,
 44008.0,
 40377.0,
 20734.0,
 47042.0,
 31433.0,
 41588.0,
 21292.0,
 4656.0,
 10070.0,
 5782.0,
 25138.0,
 14218.0,
 17795.0,
 5161.0,
 25824.0,
 3464.0,
 24810.0,
 13829.0,
 49520.0,
 21386.0,
 5322.0,
 1025.0,
 18234.0,
 40063.0,
 13292.0,
 18656.0,
 19677.0,
 18811.0,
 11136.0,
 12606.0,
 29307.0,
 30696.0,
 41400.0,
 1529.0,
 35140.0,
 9755.0,
 46041.0,
 44570.0,
 5456.0,
 49191.0,
 5612.0,
 46522.0,
 18599.0,
 29675.0,
 36724.0,
 31981.0,
 33055.0,
 48559.0,
 32429.0,
 48628.0,
 2091.0,
 651.0,
 1511.0,
 29370.0,
 7500.0,
 16521.0,
 17835.0,
 21543.0,
 28427.0,
 14168.0,
 5337.0,
 25588.0,
 24024.0,
 45603.0,
 32303.0,
 35535.0,
 30353.0,
 22849.0,
 7628.0,
 1244.0,
 38768.0,
 15261.0,
 14870.0,
 45948.0,
 46820.0,
 15902.0,
 30305.0,
 311.0,
 46616.0,
 46886.0,
 39581.0,
 31066.0,
 46584.0,
 14161.0,
 20754.0,
 39190.0,
 20940.0,
 40198.0,
 33716.0,
 28476.0,
 22993.0,
 22959.0,
 35914.0,
 38557.0,
 22802.0,
 38164.0,
 1194.0,
 44560.0,
 8479.0,
 26172.0,
 21295.0,
 39180.0,
 4461.0,
 3896.0,
 47141.0,
 5618.0,
 25513.0,
 23645.0,
 24382.0,
 9327.0,
 4421.0,
 26131.0,
 20574.0,
 27744.0,
 27360.0,
 37065.0,
 26128.0,
 13780.0,
 46842.0,
 45633.0,
 47966.0,
 41540.0,
 39922.0,
 46226.0,
 781.0,
 37524.0,
 19816.0,
 31964.0,
 23029.0,
 17224.0,
 43394.0,
 5769.0,
 8239.0,
 3990.0,
 19468.0,
 44479.0,
 13712.0,
 15392.0,
 27796.0,
 45190.0,
 7503.0,
 27690.0,
 18434.0,
 27020.0,
 31805.0,
 18352.0,
 41658.0,
 45646.0,
 7644.0,
 37250.0,
 12614.0,
 9020.0,
 35898.0,
 43565.0,
 4367.0,
 7485.0,
 36929.0,
 23405.0,
 14332.0,
 17807.0,
 11576.0,
 20520.0,
 6532.0,
 35163.0,
 46990.0,
 49131.0,
 16616.0,
 16254.0,
 7969.0,
 6740.0,
 12099.0,
 38273.0,
 42445.0,
 14633.0,
 17652.0,
 11512.0,
 25005.0,
 9623.0,
 12276.0,
 38772.0,
 38200.0,
 23236.0,
 9808.0,
 42719.0,
 3798.0,
 34466.0,
 26348.0,
 4149.0,
 45681.0,
 18594.0,
 32465.0,
 13838.0,
 40233.0,
 12980.0,
 12745.0,
 1408.0,
 4942.0,
 10912.0,
 48857.0,
 24221.0,
 14897.0,
 19006.0,
 27243.0,
 46049.0,
 34134.0,
 46709.0,
 45064.0,
 34262.0,
 31927.0,
 18987.0,
 31766.0,
 29941.0,
 5652.0,
 2855.0,
 32691.0,
 15200.0,
 1695.0,
 28986.0,
 38996.0,
 38928.0,
 29553.0,
 46149.0,
 22025.0,
 14462.0,
 36086.0,
 6631.0,
 2846.0,
 8138.0,
 42460.0,
 31215.0,
 22151.0,
 8309.0,
 42495.0,
 34.0,
 6948.0,
 26914.0,
 43643.0,
 39561.0,
 22474.0,
 7746.0,
 46650.0,
 7916.0,
 45104.0,
 7131.0,
 32747.0,
 23579.0,
 19488.0,
 43875.0,
 13575.0,
 10603.0,
 45840.0,
 46572.0,
 11759.0,
 44628.0,
 31720.0,
 13944.0,
 17008.0,
 24535.0,
 38028.0,
 34668.0,
 19068.0,
 11140.0,
 44661.0,
 10504.0,
 38374.0,
 14881.0,
 39558.0,
 42633.0,
 43967.0,
 18926.0,
 45504.0,
 46069.0,
 1263.0,
 19173.0,
 2180.0,
 23233.0,
 19003.0,
 25705.0,
 2120.0,
 29223.0,
 43279.0,
 4086.0,
 365.0,
 13802.0,
 9124.0,
 21417.0,
 28535.0,
 5460.0,
 812.0,
 44471.0,
 36316.0,
 36606.0,
 12419.0,
 1468.0,
 26032.0,
 35887.0,
 40268.0,
 20919.0,
 36107.0,
 11461.0,
 10326.0,
 40910.0,
 20876.0,
 34234.0,
 48171.0,
 11005.0,
 10753.0,
 36082.0,
 36036.0,
 39921.0,
 10621.0,
 25837.0,
 20549.0,
 44245.0,
 27801.0,
 12572.0,
 24622.0,
 12384.0,
 31562.0,
 5449.0,
 3873.0,
 13263.0,
 46692.0,
 25718.0,
 28373.0,
 38544.0,
 12545.0,
 47866.0,
 9825.0,
 4472.0,
 16249.0,
 14901.0,
 204.0,
 2748.0,
 8006.0,
 30406.0,
 39097.0,
 3142.0,
 46175.0,
 35633.0,
 25340.0,
 1006.0,
 22888.0,
 15613.0,
 17616.0,
 8230.0,
 2452.0,
 10032.0,
 23516.0,
 37011.0,
 1203.0,
 41259.0,
 6656.0,
 18963.0,
 43631.0,
 47912.0,
 1516.0,
 23554.0,
 34565.0,
 15359.0,
 34584.0,
 45063.0,
 28123.0,
 39947.0,
 26648.0,
 18918.0,
 23644.0,
 41319.0,
 19894.0,
 37825.0,
 48395.0,
 49533.0,
 2326.0,
 29594.0,
 34530.0,
 15386.0,
 30442.0,
 2228.0,
 42240.0,
 25952.0,
 40348.0,
 5240.0,
 38650.0,
 13431.0,
 5428.0,
 16823.0,
 12409.0,
 8615.0,
 2716.0,
 25272.0,
 43263.0,
 39108.0,
 47990.0,
 31869.0,
 40146.0,
 35383.0,
 329.0,
 1090.0,
 4138.0,
 26683.0,
 24954.0,
 44765.0,
 47388.0,
 26751.0,
 32360.0,
 45763.0,
 27307.0,
 17429.0,
 14852.0,
 12738.0,
 13988.0,
 39040.0,
 7054.0,
 37288.0,
 48697.0,
 36772.0,
 12797.0,
 23543.0,
 39276.0,
 19370.0,
 3481.0,
 24235.0,
 2581.0,
 20899.0,
 12779.0,
 5031.0,
 11352.0,
 25495.0,
 17313.0,
 31651.0,
 47759.0,
 45747.0,
 18689.0,
 12732.0,
 26882.0,
 13966.0,
 20580.0,
 49628.0,
 47877.0,
 3880.0,
 28601.0,
 17789.0,
 14651.0,
 38067.0,
 43129.0,
 2979.0,
 19511.0,
 10761.0,
 42557.0,
 30949.0,
 3397.0,
 33303.0,
 33290.0,
 10369.0,
 12576.0,
 6615.0,
 18023.0,
 46347.0,
 18019.0,
 36956.0,
 48720.0,
 33647.0,
 33572.0,
 24009.0,
 48104.0,
 46088.0,
 5991.0,
 6774.0,
 15399.0,
 22142.0,
 28553.0,
 33845.0,
 9421.0,
 21009.0,
 10814.0,
 8467.0,
 35628.0,
 38890.0,
 32030.0,
 9550.0,
 22504.0,
 23291.0,
 27423.0,
 17878.0,
 20378.0,
 21927.0,
 47087.0,
 44310.0,
 13819.0,
 8736.0,
 33065.0,
 14875.0,
 23341.0,
 33493.0,
 79.0,
 40002.0,
 35752.0,
 6128.0,
 37718.0,
 48595.0,
 12320.0,
 41544.0,
 24125.0,
 5550.0,
 1689.0,
 22312.0,
 23044.0,
 3583.0,
 36127.0,
 40593.0,
 33548.0,
 35004.0,
 19446.0,
 8555.0,
 13083.0,
 32566.0,
 32537.0,
 14999.0,
 40261.0,
 15649.0,
 4163.0,
 3339.0,
 1117.0,
 581.0,
 25199.0,
 24231.0,
 17044.0,
 12845.0,
 7673.0,
 28928.0,
 17924.0,
 26767.0,
 248.0,
 12756.0,
 45210.0,
 12872.0,
 14467.0,
 22890.0,
 44098.0,
 42500.0,
 25544.0,
 29926.0,
 40939.0,
 8087.0,
 32740.0,
 19478.0,
 39046.0,
 47492.0,
 23622.0,
 45061.0,
 9515.0,
 8580.0,
 5068.0,
 17341.0,
 12144.0,
 33147.0,
 41570.0,
 42475.0,
 17284.0,
 10831.0,
 25753.0,
 19376.0,
 26317.0,
 18389.0,
 15950.0,
 3020.0,
 10473.0,
 32403.0,
 31371.0,
 20463.0,
 47357.0,
 43867.0,
 30480.0,
 13702.0,
 39024.0,
 30850.0,
 33636.0,
 17862.0,
 8490.0,
 1559.0,
 2611.0,
 10199.0,
 17454.0,
 39160.0,
 22281.0,
 13500.0,
 34590.0,
 14129.0,
 29077.0,
 46900.0,
 12703.0,
 21553.0,
 2063.0,
 36389.0,
 48057.0,
 31640.0,
 ...]